.navbar {
    height: 110px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8D5BA;
    color: #2F4F4F;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.3s ease;
  }
  
  .navbar .logo {
    width: 180px;
    height: 90px;
  }
  
  .navbar .search {
    width: 22px;
    height: 22px;
  }
  
  .navbar-profile {
    position: relative;
  }
  
  .nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 12px 20px;
    list-style: none;
  }
  
  .navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    color: #49557e;
  }
  
  .nav-profile-dropdown li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
  }
  
  .navbar-profile img {
    width: 22px;
    height: 22px;
  }
  
  .nav-profile-dropdown img {
    width: 18px;
    height: 18px;
  }
  
  .nav-profile-dropdown li:hover {
    color: #6a9c43; /* Màu xanh lá cây pastel */
  }
  
  .navbar .cart {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-menu a:hover {
    color: #6a9c43; /* Màu xanh lá cây pastel */
  }
  
  .navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #6a9c43; /* Màu xanh lá cây pastel */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #6a9c43; /* Màu xanh lá cây pastel */
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar button:hover {
    background-color: #6a9c43; /* Màu xanh lá cây pastel */
    color: white;
  }
  
  .navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  
  .navbar li {
    cursor: pointer;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  
  .navbar-search-icon .cart {
    margin-top: 0;
    padding-top: 0;
  }
  
  .navbar-search-icon .search {
    margin-top: 0;
    padding-top: 0;
  }
  
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #ff4c4c; /* Đỏ cho thông báo */
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  